@import 'variables','fonts','main';

html {
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Montserrat";

}

.previous_pages {
    display: flex;
    width: max(25%, 100/3);
    height: 50px;
    color: $color-gray-card-text;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-left: 17%;
    span {
        font-size: 0.6785rem;
        cursor: pointer;
        letter-spacing: 1px;
    }
}

.current_page {
    color: $color-dark-blue;
    text-decoration: underline;
}

.main_card_flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 428px;
    gap: 1%;
}

.main_card_more_photo {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100%;
    gap: 5%;
}

.main_card_major_photo {
    display: flex;
    position: relative;
    margin-top: 0.5%;
    width: 381px;
    height: 400px;
}

.main_card_additional {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 100%;
    gap: 2.5%;

    img {
        margin-left: 25%;
        height: 20px;
        width: 20px;
    }
}

.main_card_mark_used {
    display: flex;
    background: $color-yellow;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;

    span {
        font-weight: 600;
        font-size: 0.75rem;
        user-select: none;
    }
}

.main_card_charasteristic {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 0.5%;
    width: 17%;
    height: 100%;
    justify-content: left;

    .main_charasteristic {

        color: $color-blue;
        font-size: 1.125rem;
    }
}

.charasteristic_wrapper {
    display: flex;
    position: relative;
    width: 90%;
    gap: 5%;
    flex-direction: column;
    div {
        display: flex;
        width: 100%;
        height: 30px;
        font-size: 0.75rem;
        
        span {
            background: white;
            z-index: 2;
            padding: 0 8px;
        }

        &::after {
            content: "";
            position: relative;
            top: 50%;
            width: 100%;
            height: 1px;
            background: $color-gray-line;
            z-index: 1;
        }
    }
}

.charasteristic_info {
    position: absolute;
    left: 0;

    &::after {
        cursor: pointer;
        content: url(../images/information_icon.svg);
        position: relative;
        left: 3px;
        bottom: 5px;
    }
}


.charasteristic_product {
    display: flex;
    position: absolute;
    right: 0;
    width: 20%;
    font-weight: bold;
    white-space: nowrap;
}

.price_block {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 25%;
    font-size: 1.2rem;
    color: $color-text-grey;
    font-size: 0.625rem;
    gap: 1%;
}

.price_and_spec {
    display: flex;
    width: 100%;
    height: 45%;
    align-items: center;
    justify-content: left;
    text-decoration: underline;
    gap: 10%;

    img {
        height: 16px;
        width: 16px;
    }
}
.price_fromto {
    justify-content: left;
    display: flex;
    width: 100%;
    height: 55%;
}

.price_block_spec,
.price_block_dynamic {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

}


.price_fromto_text {
    font-size: 1.125rem;
    font-weight: bold;
    color: $color-blue;
    text-decoration: none;

    strong {
        font-size: 1.5rem;
    }
}

// окно слежки цены


#opacity_window {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0%;
    left: 0%;
    z-index: 10;
}

#spec_window {
    display: none;
    flex-direction: column;
    align-items: center;
    background: $color-white;
    width:40%;
    height: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 20;
}

.spec_window_text_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 20%;
    color: $color-blue;
    font-size: 1.25rem;
    font-weight: bold;

    span:nth-child(2) {
        font-size: 1.125rem;
    }
}

.spec_window_current_product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    height: 45%;

    img {
        width: 145px;
        height: 123px;
    }

    .spec_window_current_product_text_flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10%;
        width: 55%;
        height: 50%;
        color: black;   

        span:nth-child(1) {
            font-size: 1rem;
            font-weight: bold;
        }

        span:nth-child(2) {
            font-size: 0.875rem;
        }

        span:nth-child(3) {
            font-size: 1.5rem;
            color: $color-blue;
            font-weight: bold   ;
        }
    }
}
.spec_window_current_input {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 20%;
    gap: 25%;

    input {
    border: none;
    outline: none;
    font-size: 1rem;
    border-bottom: 1px solid $color-yellow;
    padding: 5px 0;
    }
}

.spec_window_current_notify_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-yellow;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    width: 23%;
    height: 9%;
    cursor:  pointer;
    font-size: 0.875rem;

    &:active {
        background: $color-gray-3;
    }
}

// окно динамики цен

#dynamic_window {
    display: none;
    flex-direction: column;
    align-items: center;
    background: $color-white;
    width: 40%;
    height: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 20;
}

.dynamic_stats {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
//

.more_charasteristic {
    color: $color-blue;
    text-decoration: underline;
    font-size: 0.625rem;
    cursor: pointer;
} 

.additional_options {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 5%;
    height: 99%;
    margin-top: 1%;

    img {
        width: 40%;
        height: 40%;
    }

    span {
        font-size: 0.75rem;
    }
}

.share_link,
.comprasion,
.add_favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 15%;
    gap: 10px;
}

.best_offers {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 18%;
    height: 100%;
    margin-left: 0.5%;
}

.best_offer_kyiv {
    font-weight: 500;
    color: $color-blue;
}

.offer_1,
.offer_2,
.offer_3,
.offer_4 {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 75%;
    height: 17%;
    border: 1px, solid, $color-gray-3;
    padding-left: 10%;
    font-size: 0.75rem;
    cursor: pointer;
    &:hover {
        animation: buttonHover 0.3s forwards;
    }

    &:not(:hover) {
        animation: buttonUnHover 0.3s forwards;
    }
}

.offer_text_block {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-top: 3%;


}

.offer_location {
    font-weight: 600;
}

.offer_name {
    font-weight: 500;
}

.offer_price {
    color: $color-blue;
    font-size: 0.825rem;
    font-weight: 600;
}

.check_all_offers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 10%;
    margin: auto;
    background: $color-yellow;
    border-radius: 3px;
    cursor: pointer;

    &:active {
        background: $color-gray-3;
    }
}

.sections_tires {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 1.5%;
    align-items: center;
    width: 100%;
    height: 5%;

}

.current_section {
    font-size: 1.5rem;
}

.slot_section_1,
.slot_section_2,
.slot_section_3,
.slot_section_4 {
    font-size: 1.125rem;
    color: $color-gray-4;
    cursor: pointer;

    &::after {
        content: "92H";
        font-size: 0.625rem;
        position: relative;
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
        }
}
.slot_section_2,
.slot_section_4 {
    &::after {
    content: "96V"
    }
}
.slot_section_3 {
    &::after {
    content: "96W"
    }
}

.current_small {
    color: $color-grey;

        &::after {
            content: "96W";
            font-size: 0.625rem;
        }
}

.product_info_selector {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: 50px;
    margin-top: 1%;
    margin-left: 21%;
    border-bottom: $color-gray-3 solid 3px; 
    gap: 10%;
    span {
        font-weight: 500;
        cursor: pointer;
    }
    
}

.product_slot_1 {
    display: flex;
    width: 13%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#product_slot_2 {
    &::after {
        content: "";
        display: $after-display-block;
        background: $color-yellow;
        margin-top: 5px;
        width: 100%;
        height: 4px;
        border-radius: 3px;
    }
}

.product_selector_city {
    white-space: nowrap;
    color: $color-gray-4;
    font-weight: 400;
    font-size: 0.526rem;
    text-decoration: underline;
    margin-left: 5%;
}

#product_slot_3,
#product_slot_4 {
    &::after {
        content: "";
        display: $after-display-none;
        background: $color-yellow;
        margin-top: 5px;
        width: 100%;
        height: 4px;
        border-radius: 3px;
    }

}
.sorting_block {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 1.5%;
    margin-left: 20%;
    font-size: 0.75rem;

    li {
        cursor: pointer;
        list-style-type: none;
    }
    
    li::before {
        content: "";
        display: inline-block;
        background: $color-white;
        width: 9px;
        height: 9px;
        border: 1px solid $color-dark-blue; 
        margin-right: 10px;
    }
}
.sorting-selector-pick {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    
    &::after { 
        content: "▾";
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;
}
}
.sorting_slot_1 {
    text-decoration: underline;
    color: $color-gray-4;
}
.sorting_slot_2, 
.sorting_slot_3 {
    font-weight: bold;
}

#sorting-selector {

}

#sorting-slot-4-input {
    display: none;
}

#sorting-list {
    display: none;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    gap: 15%;
    width: 150px;
    height: 200px;
    background: $color-white;
    border: 1px solid $color-gray-line;
}


#products_blocks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    height: space-between;
}

.product_block {
    display: flex;
    width: 60%;
    height: 135px;
    gap: 1%;
    font-size: 0.75rem;


}

.product_block_text_3,
.product_year_text {
    display: flex;
    align-items: center;
    margin-left: 5%;
    width: calc(100% / 3);
    height: 100%;
}

.product_block_text_2  {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
    width: 50%;
    height: 100%;
}

.product_block_1 {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    height: 100%;
    background: $color-light-grey;

    .product_block_city_year,
    .product_block_guarantee {
        display: flex;
        width: 100%;
        height: 35%;
        background: $color-gray-3;


        .product_city_text {
            text-decoration: underline;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
    .product_block_country {
        display: flex;
        width: 100%;
        height: 30%;
        background: $color-white;
        align-items: center;
        gap: 5%;
        padding-left: 5%;
    }

    .product_block_photo_company {
        display: flex;
        width: 30%;
    }
    .product_block_country_text {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 30%;
        height: 100%;
    }

    .product_year_text {
        font-weight: 500;
    }
    
}

.product_block_2 {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    height: 100%;
    background: $color-light-grey;

    .product_block_overlay,
    .product_block_VAT {
        display: flex;
        width: 100%;
        height: 35%;
        background: $color-gray-3;
    }

    .product_block_installment {
        display: flex;
        width: 100%;
        height: 30%;
        background: $color-white;
    }
}

.product_block_3 {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    height: 100%;
    background: $color-light-grey;

    .product_block_delivery,
    .product_block_tire_service {
        display: flex;
        width: 100%;
        height: 35%;
        background: $color-gray-3;
    }

    .product_block_return {
        display: flex;
        width: 100%;
        height: 30%;
        background: $color-white;
    }
}


.product_block_buy {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    width: 32%;
    height: 100%;
    background: $color-light-grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    box-sizing: border-box;

    .product_block_buy_left_side {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
    }
    .block_buy_cost,
    .block_buy_in_stock,
    .block_buy_cost_delivery {
        display: flex;
        width: 100%;
        height: calc(100% / 3);
        justify-content: center;
        align-items: center;
    }
    .block_buy_cost {
        font-size: 1.3125rem;
        color: $color-blue;
        font-weight: 500;
    }
    .block_buy_in_stock {
        font-size: 1rem;
    }
    .block_buy_cost_delivery {
        font-size: 0.8125rem;
        font-weight: 500;
        text-decoration: underline;

        span {
            cursor: pointer;
        }
    }

    .product_block_buy_right_side {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 45%;
        margin-left: 5%;
        height: 100%;
        gap: 5%;

        .button_in_shop,
        .button_fast_buy,
        #button_to_cart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 30px;
            font-size: 0.75rem;
            background: $color-white;
            border: 2px solid $color-gray-3;
            border-radius: 2px;
            cursor: pointer;

            &:hover {
                animation: buttonHover 0.3s forwards;
            }
            &:not(:hover) {
                animation: buttonUnHover 0.3s forwards;
            }
        }

        .button_fast_buy{
            background: $color-green;
            color: $color-white;
        }
    }
}

#information-block {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    height: 500px;
    width: 100%;

    p {
        color: $color-dark-blue;
        font-size: 1.125rem;
    }
}

.information-wrapper {
    display: flex;
    width: 60%;
    height: 100%;
}
.information-left-side {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: space-between;
}

.information-main-charasteristic {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
}

.information-charasteristic-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 70%;
    div {
        display: flex;
        width: 100%;
        height: 30px;
        font-size: 0.75rem;
        
        span {
            background-color: white;
            color: black;
            z-index: 2;
            padding: 0 8px;
        }

        &::after {
            content: "";
            top: 50%;
            width: 100%;
            height: 1px;
            background: $color-gray-line;
            z-index: 1;
            margin-top: 10px;
        }
    }
}

.information-charasteristic-info {
    white-space: nowrap;

    &::after {
        cursor: pointer;
        content: url(../images/information_icon.svg);
        position: relative;
        left: 5px;
        bottom: 8px;
    }
}

.information-charasteristic-product {
    display: flex;
    position: absolute;
    right: 0;
    width: 25%;
    font-weight: bold;
    white-space: nowrap;
}

.information-additional-charasteristic {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    white-space: nowrap;
}

.information-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-description-text {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    gap: 15px;
    
    p {
        margin: 0;
        margin-top: 20px;
    }

    span {
        font-size: 0.875rem;

    }
}

#review-block {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: space-between;

    p {
        color: $color-dark-blue;
    }
}

.review-block-header-text {
    width: 100%;
    margin-top: 40px;
    font-size: 1.125rem;
    font-weight: bold;
}

#review-block-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;

    time {
        font-size: 0.625rem;
        color: $color-text-grey;
        margin-left: 10px;
    }
}

#user-review {
    hr {
        margin-top: 25px;
        border: none;
        height: 1px;
        background: $color-gray-3;
    }
}

.send-feedback-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
}

#send-feedback {
    display: block;
    width: 176px;
    height: 40px;
    margin-top: 50px;
    border: 3px solid $color-yellow;
    border-radius: 4px;
    background: $color-yellow;
    font-size: 0.875rem;
    letter-spacing: 0.6px;
    cursor: pointer;
}

#user-feedback-input {
    margin-top: 25px;
    resize: none;
}

.favorite-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: space-between;
    width: 100%;
    gap: 25px;

    p {
        color: $color-dark-blue;
    }
}

#favorite-header-text {
    display: none;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    font-size: 1.125rem;
    margin-top: 30px;

    &::before {
        content: url(../images/card/heart.svg);
        position: relative;
        margin-right: 5px;
    }
}

#favorite-user-cards {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    gap: 10px;
}

.favorite-card {
    display: flex;
    width: 100%;
    height: 80px;
}

.product-favorite-block {
    display: flex;
    width: 100%;
    height: 135px;
    gap: 1%;
    font-size: 0.75rem;
}

.product-block-favorite-right-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-left: 5%;
    height: 100%;
}

.favorite-btn-buy,
.remove-btn-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: $color-green;
    color: $color-white;
    border: 2px solid $color-gray-3;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        animation: buttonHover 0.3s forwards;
    }
    // &:not(:hover) {
    //     animation: buttonUnHover 0.3s forwards;
    // }
}

.remove-btn-buy {
    background: $color-yellow;
}