@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Montserrat";
}

#header {
  background: #3c567a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  inset: 0;
  height: 60px;
  margin-top: 38px;
}
#header .header_language_UA {
  color: red;
  position: relative;
  top: 0;
}
#header .header_logo {
  position: absolute;
  margin-left: 380px;
  margin-top: 12px;
}
#header .header_text {
  font-size: 1.5625rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-left: 420px;
  padding-top: 6px;
  letter-spacing: 2px;
}
#header .header_text_subtitle {
  font-size: 0.625rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 420px;
  letter-spacing: 0.1px;
}
#header .header_search {
  background: #FFffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 551px;
  height: 40px;
  margin-left: 58px;
  margin-top: 9px;
  clip-path: polygon(1% 0%, 100% 0%, 100% 0%, 98.5% 100%, 0% 100%);
  border-radius: 2px;
  position: relative;
  justify-self: flex-start;
}
#header .header_search input {
  display: inline;
  position: absolute;
  width: 100%;
  height: 38px;
  left: 10px;
  border: none;
  font-size: 1rem;
}
#header .header_search input:focus {
  outline: none;
}
#header .header_search_button {
  background: #FFD21D;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 28px;
  margin-left: 460px;
  clip-path: polygon(9% 0%, 100% 0%, 100% 0%, 91% 100%, 0% 100%);
  border-radius: 5px;
  margin-top: 6px;
  font-weight: bold;
  font-size: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
#header .header_country {
  background: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 116px;
  top: 9px;
  clip-path: polygon(9% 0%, 100% 0%, 100% 0%, 91% 100%, 0% 100%);
  border-radius: 2px;
  margin-left: 20px;
  font-size: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  text-indent: 10px;
}
#header .header_country .header_country_location {
  padding-right: 75px;
  position: absolute;
}
#header .header_language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding-left: 380px;
  font-size: 0.875rem;
  bottom: 70px;
}
#header .header_language_UA {
  color: #3c567a;
  padding-left: 0px;
}
#header .header_language_UA:hover {
  cursor: pointer;
}
#header .header_language_slash {
  color: #3c567a;
  margin-left: 15px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: default;
}
#header .header_language_RU {
  color: #FFD21D;
  margin-left: 15px;
}
#header .header_language_RU:hover {
  cursor: pointer;
}
#header .exchange {
  position: absolute;
  margin-left: 900px;
  color: #333333;
  bottom: 70px;
  font-size: 0.875rem;
}
#header .exchange .exchange_euro_to_hrn {
  margin-left: 20px;
}
#header .account {
  position: absolute;
  margin-left: 65vw;
  color: #3c567a;
  bottom: 70px;
  font-size: 0.875rem;
}
#header .account .login {
  cursor: pointer;
}
#header .account .registration {
  margin-left: 25px;
  text-decoration: underline;
  cursor: pointer;
}
#header .header_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  height: 20px;
  width: 20px;
  margin-top: 20px;
  margin-left: 35px;
  cursor: pointer;
}
#header .under_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: #FFFFFF;
  width: 99vw;
  height: 46px;
  margin-top: 60px;
}
#header .under_header_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: #EAEAEA;
  width: 99vw;
  top: 45px;
  height: 2px;
}
#header .catalog {
  color: #000000;
  margin-top: 75px;
  margin-left: 375px;
  position: absolute;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}
#header .catalog span {
  margin-left: 28px;
  cursor: pointer;
}
#header .catalog .catalog_1_select {
  position: absolute;
  background: rgba(60, 86, 122, 0.15);
  width: 97px;
  height: 48px;
  clip-path: polygon(9% 0%, 100% 0%, 100% 0%, 91% 100%, 0% 100%);
  margin-top: -35px;
  margin-left: 3px;
}
#header .catalog .catalog_1_select::after {
  content: "";
  position: absolute;
  margin-top: 45px;
  background: #3c567a;
  opacity: 1;
  width: 100%;
  height: 5px;
}
#header .catalog .catalog_1 {
  color: #3c567a;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-weight: 500;
}

.parametres_founder,
.selection {
  height: 210px;
  border-radius: 3px 3px 3px 3px;
  margin-top: 5vw;
  background: rgb(238, 238, 238);
}

.parametres_founder {
  margin-top: 10vw;
  margin-left: 20vw;
  width: 615px;
}
.parametres_founder .parametres_text {
  position: relative;
  font-size: 1.125rem;
  color: #3c567a;
  font-weight: 600;
  margin-left: 10px;
  top: 15px;
}
.parametres_founder .blocks {
  line-height: 40px;
  text-indent: 10px;
  font-size: 0.75rem;
  font-weight: 0;
  color: #000000;
}
.parametres_founder .blocks .block_width,
.parametres_founder .blocks .block_appointment,
.parametres_founder .blocks .block_shop {
  position: absolute;
  width: 187px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 3px;
}
.parametres_founder .blocks .block_profile,
.parametres_founder .blocks .block_brand,
.parametres_founder .blocks .block_payer,
.parametres_founder .blocks .block_diameter,
.parametres_founder .blocks .block_model,
.parametres_founder .blocks .block_select {
  position: absolute;
  width: 176px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
}
.parametres_founder .blocks .block_width {
  margin-top: 30px;
  margin-left: 10px;
}
.parametres_founder .blocks .block_appointment {
  margin-top: 80px;
  margin-left: 10px;
}
.parametres_founder .blocks .block_shop {
  margin-top: 130px;
  margin-left: 10px;
}
.parametres_founder .blocks .block_profile {
  margin-top: 30px;
  margin-left: 210px;
}
.parametres_founder .blocks .block_brand {
  margin-top: 80px;
  margin-left: 210px;
}
.parametres_founder .blocks .block_payer {
  margin-top: 130px;
  margin-left: 210px;
}
.parametres_founder .blocks .block_diameter {
  margin-top: 80px;
  margin-left: 400px;
}
.parametres_founder .blocks .block_model {
  margin-top: 30px;
  margin-left: 400px;
}
.parametres_founder .blocks .block_select {
  margin-top: 130px;
  margin-left: 400px;
  background: #FFD21D;
}
.parametres_founder .blocks .block_select_text {
  position: absolute;
  color: #313131;
  font-size: 0.875rem;
  font-weight: 500;
  text-indent: 50%;
}

.selection {
  margin-top: 10vw;
  margin-left: 10vw;
  width: 460px;
  padding-left: 1.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.selection .selection_text {
  position: relative;
  font-size: 1.125rem;
  color: #3c567a;
  font-weight: 600;
  top: 15px;
}
.selection .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  height: 210px;
  margin-top: -10px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 40px;
  text-indent: 10px;
  font-size: 0.75rem;
  font-weight: 0;
  color: #000000;
}
.selection .blocks .block_brand,
.selection .blocks .block_year,
.selection .blocks .block_model,
.selection .blocks .block_complectation,
.selection .blocks .block_select {
  background: #FFFFFF;
  width: 217px;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}
.selection .blocks .block_brand,
.selection .blocks .block_model {
  margin-top: 40px;
}
.selection .blocks .block_model,
.selection .blocks .block_complectation,
.selection .blocks .block_select {
  width: 185px;
}
.selection .blocks .block_select {
  background: #FFD21D;
}
.selection .blocks .block_select_text {
  position: absolute;
  color: #313131;
  font-size: 0.875rem;
  text-indent: 45px;
  font-weight: 500;
}

.filter {
  position: absolute;
  margin-top: 430px;
  float: left;
  margin-left: 21vw;
}

.filter_name {
  font-size: 1.31rem;
}

.price_block {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgb(238, 238, 238);
  width: 217px;
  height: 1160px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.price_block .price_range {
  position: absolute;
  margin-top: 15px;
  font-size: 0.875rem;
}
.price_block .price_from,
.price_block .price_to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  background: #FFFFFF;
  width: 60px;
  height: 27px;
  margin-top: 3vw;
  font-size: 0.675rem;
}
.price_block .price_to {
  width: 66px;
  margin-left: 0.5vw;
}
.price_block .small_range_text {
  display: block;
  white-space: nowrap;
  margin-top: 5px;
  font-size: 0.4375rem;
  margin-left: 0.5vw;
}
.price_block .value {
  display: inline-block;
  position: relative;
  margin-top: 3.5vw;
  margin-left: 0.5vw;
  font-size: 0.4375rem;
}
.price_block .button_ok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #32B66D;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.675rem;
  width: 30px;
  height: 27px;
  clip-path: polygon(15% 0%, 100% 0%, 100% 0%, 85% 100%, 0% 100%);
  cursor: pointer;
  margin-top: 3vw;
  margin-left: 1vw;
}
.price_block .button_ok .ok {
  margin-left: 25%;
}
.price_block .scrolling {
  position: absolute;
  margin-top: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 13px;
}
.price_block .scrolling .shampur {
  position: absolute;
  background: #B5B5B5;
  margin-top: 6px;
  margin-left: 13px;
  width: 176px;
  height: 2px;
}
.price_block .scrolling .cycle {
  background: #32B66D;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 1;
}
.price_block .scrolling .cycle:last-child {
  margin-left: 87%;
}
.price_block .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 10vw;
  height: 55vw;
  margin-top: 4vw;
  margin-left: 5px;
  font-size: 0.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  list-style: none;
}
.price_block .settings span {
  cursor: pointer;
}
.price_block .settings li::before {
  content: "";
  display: inline-block;
  background: #FFFFFF;
  width: 9px;
  height: 9px;
  border: 1px solid #144B98;
  margin-right: 5px;
}
.price_block .season::after,
.price_block .speed::after,
.price_block .load::after,
.price_block .class::after,
.price_block .year_old::after,
.price_block .brand_text::after,
.price_block .country_creator::after,
.price_block .country::after,
.price_block .additionally::after {
  content: "▾";
  display: inline-block;
  position: absolute;
  color: #3c567a;
  right: 0%;
  cursor: pointer;
}
.price_block .season_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.3vw;
  font-size: 0.75rem;
  gap: 10px;
  margin-top: -10px;
}
.price_block .season_select img {
  margin-left: 15px;
}
.price_block .season_select .allseason img:nth-child(2) {
  margin-left: 5px;
}
.price_block .speed {
  position: relative;
}
.price_block .more {
  font-size: 0.75rem;
  text-decoration: underline;
}
.price_block .brand_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.3vw;
  font-size: 0.75rem;
  gap: 10px;
  margin-top: -10px;
}
.price_block .country_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.3vw;
  font-size: 0.75rem;
  gap: 10px;
  margin-top: -10px;
}
.price_block .additionally_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.3vw;
  font-size: 0.75rem;
  gap: 10px;
  margin-top: -10px;
}

.sorting {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 20px;
  margin-top: 23vw;
  margin-left: 20vw;
}

.sorting_line {
  position: absolute;
  width: 956px;
  height: 1px;
  background: #EAEAEA;
  margin-top: 1vw;
}

.sorting_text,
.on_start {
  font-size: 0.75rem;
  margin-left: 3vw;
}

.popular,
.expension {
  text-decoration: underline;
  cursor: pointer;
}
.popular::after,
.expension::after {
  content: "▾";
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}

.squares {
  margin-left: 25vw;
}

.blue_square,
.blue_second_square {
  background: #3c567a;
  width: 9px;
  height: 20px;
  margin-top: -5px;
}

.blue_second_square {
  background: #3c567a;
  width: 21px;
  margin-left: 11px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-top: 25vw;
  margin-left: 20vw;
  width: 882px;
  height: 1300px;
  gap: 20px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  border: 2px, solid rgb(238, 238, 238);
  border-radius: 3px;
  width: 882px;
  height: 219px;
}
.card:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.card:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.card:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.card:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.card img {
  margin-top: 2px;
  width: 231px;
}
.card .name_tire {
  margin-top: 1vw;
  font-weight: 600;
  font-size: 0.875rem;
  margin-right: 15vw;
}
.card .name_tire_second {
  font-weight: 500;
}
.card .tire_price {
  color: #3c567a;
  font-size: 1.5rem;
  font-weight: 600;
}
.card .button_more {
  background: #32B66D;
  color: #FFFFFF;
  margin-top: 1vw;
  width: 148px;
  height: 42px;
  text-align: center;
  clip-path: polygon(7% 0%, 100% 0%, 100% 0%, 93% 100%, 0% 100%);
  cursor: pointer;
}
.card .button_more::after {
  content: "Подробнее";
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
.card .card_comprasion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: 25vw;
  margin-top: 8.5vw;
  width: 150px;
  font-size: 0.875rem;
}
.card .card_comprasion span {
  margin-left: 15px;
  cursor: pointer;
}
.card .card_comprasion img {
  width: 20px;
  height: 18px;
  cursor: pointer;
}
.card .card_favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: 35vw;
  margin-top: 8.5vw;
  width: 150px;
  font-size: 0.875rem;
}
.card .card_favorite span {
  margin-left: 15px;
  cursor: pointer;
}
.card .card_favorite img {
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.more_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: 76vw;
  margin-right: 12vw;
  width: 264px;
  height: 202px;
  border: 2px, solid rgb(238, 238, 238);
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.more_products::after {
  content: "Показать больше товаров";
  color: #3c567a;
  font-weight: 600;
  margin-top: 5vw;
  margin-left: -8vw;
}
.more_products img {
  margin-left: 5vw;
  margin-bottom: 3vw;
  width: 75px;
  height: 75px;
}

.pages {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 89vw;
  margin-left: 15vw;
}
.pages span {
  margin-left: 20px;
  cursor: pointer;
}
.pages span:first-child {
  color: #3c567a;
  font-weight: 600;
}

#footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #333333;
  color: #FFFFFF;
  width: 100%;
  height: 124px;
  top: 110vw;
}
#footer .copyright,
#footer .phone,
#footer .numbers,
#footer .mail,
#footer .mail_adress,
#footer .conf {
  font-size: 0.875rem;
}
#footer .footer_logo {
  height: 35px;
  width: 35px;
  margin-top: 35px;
  margin-left: 370px;
}
#footer .footer_logo_text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 37px;
  margin-left: 10px;
}
#footer .copyright {
  position: absolute;
  color: #C1C1C1;
  top: 85px;
  left: 370px;
}
#footer .phone {
  margin-left: 85px;
  margin-top: 30px;
  font-weight: 500;
}
#footer .numbers {
  position: absolute;
  color: #C1C1C1;
  left: 637px;
  top: 65px;
}
#footer .mail {
  font-size: 0.875rem;
  margin-left: 165px;
  margin-top: 30px;
  font-weight: 500;
}
#footer .mail_adress {
  position: absolute;
  font-size: 0.875rem;
  color: #C1C1C1;
  left: 877px;
  top: 65px;
}
#footer .conf {
  position: absolute;
  font-size: 0.875rem;
  color: #C1C1C1;
  left: 1237px;
  top: 35px;
  text-decoration: underline;
  cursor: pointer;
}
#footer .arrow_up {
  background: #144B98;
  clip-path: polygon(10% 0%, 100% 0%, 100% 0%, 90% 100%, 0% 100%);
  width: 41px;
  height: 37px;
  margin-top: 37px;
  margin-left: 650px;
}